*
{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:rgba(127, 255,212, 0.7);
	font-family:verdana;
}
#main
{

	border: 1px solid black;
	width:40vw;
	margin:120px;
	background-color: rgba(240, 248, 255, 0.8);
	border: 1px solid #A9A9A9;
	padding:0px 20px;
	border-radius: 8px;
	box-shadow: 0.5px 0.5px 1px 1px black;
}
 .row 
{
	display: flex;
	justify-content: space-between;

}
label
{
	user-select: none;

}
span
{
	display:block;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 4px;
	font-size: 2rem;
	background-color: white;
	border: 1px solid white;
	border-radius: 5px;
}
.right
{
	padding: 10px;
}
.left
{
	padding: 10px;
}
input[type="checkbox"]
{
	width: 30px;
	height: 20px;
	accent-color: green;
	border-radius: 20px;
}
input[type="number"]
{
	width: 60px;
	height: 30px;
}

input:focus
{
	outline: none;
}
.genrate
{
	display: block;
	width: 100%;
	height: 50px;
	padding: 2px;
	margin: 2px auto;
	background-color: #48a896;
	border-radius: 15px;
}
.col{
	outline: 5px solid red;
}